<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <style>
        div{
            width: 500px;
            height: 500px;
            background-color: skyblue;
            margin-left: 200px;
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <div>
        <form action="">
            <label for="username">username</label>
            <input type="text" name="username" id="username"><br> <br>
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass"><br> <br>
            <input type="checkbox" name="" id=""> Male 
            <input type="checkbox" name="" id=""> female<br> <br>
            <input type="button" value="Submit">
        </form>
    </div>
</body>
</html>